accelerate==0.29.3
bitsandbytes==0.43.1
datasets==2.19.0
duckdb==0.10.3
fakeredis>=2.20.0
hvac>=2.2.0
langchain-anthropic>=0.1.15
langchain-openai>=0.1.8
langgraph>=0.0.65
nats-py>=2.7.0
pandas>=2.2.0
peft==0.10.0
prometheus-client>=0.20.0
pyarrow==16.0.0
pydantic>=2.7.1
pytest>=7.4.0
qdrant-client>=1.9.0
redis==5.0.4
requests>=2.31.0
s3fs==2024.3.1
sentence-transformers==2.7.0
tabulate>=0.9.0
tomli>=2.0.1
torch==2.3.0
transformers==4.40.1
trl==0.8.6
vllm==0.4.2